#bg {
	position:fixed; 
	top:-50%; 
	left:-50%; 
	width:200%; 
	height:200%;
}
#bg img {
	position:absolute; 
	top:0; 
	left:0; 
	right:0; 
	bottom:0; 
	margin:auto; 
	min-width:50%;
	min-height:50%;
	z-index: -1;
}

#colly  #quote {
	width: 55%;
	margin-top: 7%;
}

#colly #quote blockquote {
	margin: 45px;
	padding: 0;
	font-size: 180%;
	line-height: 160%;
	font-style: italic;
	/*color: #484848;
	color: #686868;*/
	color: #dddddd;
}

#colly #quote .bqstart {
	float: left;
	height: 45px;
	margin-top: -20px;
	padding-top: 45px;
	margin-bottom: -50px;
	font-size: 700%;
	/*color: #383838;*/
	color: #bbbbbb;
	font-family: 'Lucida Grande', Verdana, helvetica, sans-serif;
	font-style: normal;
}

#colly #quote .bqend {
	float: right;
	height: 25px;
	margin-top: 0px;
	padding-top: 55px;
	font-size: 700%;
	/*color: #383838;*/
	color: #bbbbbb;
	font-family: 'Lucida Grande', Verdana, helvetica, sans-serif;
	font-style: normal;
}

